{% extends 'core/base.html' %}

{% block head_title %}Axis Bank{% endblock %}

{% block content %}
    <div class="container mx-auto flex flex-col md:flex-row items-center ">
        <!--Banner-->
        <div class="w-full lg:py-6 text-center swiper mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
            <img
                class="object-cover w-full h-96"
                src="https://www.axisbank.com/images/default-source/homebanner/diwali-two-wheeler-loan-banner-748x301.jpg"
                alt="apple watch photo"
            />
            </div>
            <div class="swiper-slide">
            <img
                class="object-cover w-full h-96"
                {% comment %} src="https://www.axisbank.com/images/default-source/homebanner/digital-gold-banner-748x301-v4.jpg" {% endcomment %}
                src="https://i.ibb.co/4gzVKhT/image4.jpg"
                alt="apple watch photo"
            />
            </div>
            <div class="swiper-slide">
            <img
                class="object-cover w-full h-96"
                src="https://www.axisbank.com/images/default-source/homebanner/dil-se-open-celebrations-banner-748x301-v2.jpg"
                alt="apple watch photo"
            />
            </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
        </div>

        <!-- Swiper JS -->
        <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
        <script>
        var swiper = new Swiper('.mySwiper', {
            spaceBetween: 30,
            centeredSlides: true,
            autoplay: {
            delay: 2500,
            disableOnInteraction: false,
            },
            pagination: {
            el: '.swiper-pagination',
            clickable: true,
            },
            navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
            },
        });
        </script>
    </div>
            <!--Left Col-->
        <div class="flex flex-col w-full lg:w-1/2 justify-center items-start">
            <h4 class="font-bold text-4xl">Welcome to Sushant Bank</h4>
            <p class="leading-normal pt-3.5">
                This is prototype banking app based off of the code available at <a href="https://github.com/saadmk11/banking-system">GitHub</a>
            </p>
        </div>
{% endblock %}
